<div class="main-header middleplease">
  <h1> And the verdict is.... </h1>
</div>
  
<div class="middleplease">
  <a href=<%= "/message/#{session[:game_id]}" %>><button type="button" class="btn-winner">
    Looks like <%= get_coffee_getter_name %> is getting the coffee! 
  </button></a>
</div>
<div class="text-notify">
  <h4> Click above to send text notification </h4>
</div>
<p class="middleplease"><p>
</br>
</br>
<div class="jumbotron jumbotron-fetch">
    <h2> So <%= get_coffee_getter_name %>, the coffee order is: </h2>
    <ul>
      <%  get_game_participants_as_array.each do |player| %>
        <%="<li>" + player.display_name + " - " + player.drink + "</li>" %>
      <% end %> 
    </ul>
</div>

<div class="go-outside">
<%= "You wanted to go outside anyway, right " + get_coffee_getter_name + "?"%> 
</div>
