<p>
<h2 class="middleplease"> Edit your Profile</h2>
<p>

<% if @user && @user.errors.any? %>
  <div>
    <strong>Some issues with your Profile Update, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |user_detail| %>
        <li><%= user_detail %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron jumbotron-add">
    <form class="bigger-font" method="POST" action="/profile/edit">
      <label for="display_name">User Name</label>
      <input name="display_name" value="<%= get_current_user.display_name %>" /></br>

      <label for="email">Email: </label>
      <input name="email" value="<%= get_current_user.email %>" /></br>

      <label for="phone_number">Phone Number:</label>
      <input name="phone_number" value="<%= get_current_user.phone_number %>" /></br>

      <label for="drink">Default Coffee Preference:</label>
      <input name="drink" value="<%= get_current_user.drink %>" /></br>

      <label for="password">Password:</label>
      <input name="password" value="<new password>" /></br>

      <input value="Update Profile" type="submit" />
    </form>
</div>
<p>
<p>
<p><a href="/" class="middleplease">Back to Main Page</a></p>


