<p>
<h2 class="middleplease"> Edit your Profile</h2>
<p>

<% if @user && @user.errors.any? %>
  <div>
    <strong>Some issues with your Profile Update, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |user_detail| %>
        <li><%= user_detail %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron" style="padding: 30px; display: block; width: 50%; margin: auto">
  <form method="POST" action="/profile/edit">
    <label for="display_name">User Name</label>
    <input name="display_name" value="<%= @user.display_name %>" /></br>

    <label for="email">Email: </label>
    <input name="email" value="<%= @user.email %>" /></br>

    <label for="phone_number">Phone Number:</label>
    <input name="phone_number" value="<%= @user.phone_number %>" /></br>

    <label for="drink">Default Coffee Preference:</label>
    <input name="drink" value="<%= @user.drink %>" /></br>

    <label for="password">Password:</label>
    <input name="password" value="< Enter your new password HERE >" /></br>

    <input value="Update Profile" type="submit" />
  </form>
</div>
<p>
<p>
<p><a href="/" class="middleplease">Back to Main Page</a></p>


